<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests/Feature</directory>
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Providers</directory>
            <directory suffix=".php">./app/Exceptions</directory>
            <directory suffix=".php">./app/Http/Controllers</directory>
            <directory suffix=".php">./app/Http/Resources</directory>
            <file>./app/Console/Kernel.php</file>
            <file>./app/Http/Kernel.php</file>
            <file>./app/Http/Middleware/Authenticate.php</file>
            <file>./app/Http/Middleware/Authenticate.php</file>
            <file>./app/Http/Middleware/Authenticate.php</file>
            <file>./app/Http/Middleware/Authenticate.php</file>
            <file>./app/Http/Middleware/EncryptCookies.php</file>
            <file>./app/Http/Middleware/PreventRequestsDuringMaintenance.php</file>
            <file>./app/Http/Middleware/RedirectIfAuthenticated.php</file>
            <file>./app/Http/Middleware/TrimStrings.php</file>
            <file>./app/Http/Middleware/TrustHosts.php</file>
            <file>./app/Http/Middleware/TrustProxies.php</file>
            <file>./app/Http/Middleware/VerifyCsrfToken.php</file>
        </exclude>
    </coverage>
</phpunit>
