.icon-button:active,
.icon-button:focus,
.icon-button-default-color:active,
.icon-button-default-color:focus {
    outline: none !important;
    box-shadow: none !important;
}

.icon-button {
    cursor: pointer;
    color: $black !important;
}

.icon-button-default-color {
    cursor: pointer;
}

.add-button {
    width: 18em;
    height: 3em;
    border-radius: 16px !important;
}
