
.image-uploader {
    margin-left: auto;
    width: $image-width;
}

.preview {
    margin-left: auto;
    height: $image-height;
    width: $image-width;
}

.cropper {
    margin-left: auto;
    height: $image-height;
    width: $image-width;
    background: #DDD;
}

.recipe-detail .image-wrapper {
    width: $image-width;
    text-align: right;
    margin-left: auto;
}

.recipe-detail .image {
    margin-left: auto;
    height: $image-height;
    width: $image-width;
    background-position: center;
    background-size: cover;
}

// Small devices (landscape phones)
@media (max-width: 767.98px) {
    .recipe-detail .image,
    .recipe-detail .image-wrapper,
    .image-uploader,
    .cropper,
    .recipe-form .preview {
        width: 100%;
    }
}
